body {
    font-family: "Apple SD Gothic Neo";
    color: black;
    margin: 0;
    text-decoration: none;
    white-space: nowrap;
    background-color: rgb(26, 53, 91);
}

a {
    text-decoration: none;
    color: rgb(26, 53, 91);
}

nav {
    height: 3rem;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.nav__bar__container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.6rem 0 0.2rem 0;
    background-color: rgb(26 ,53, 91);
}

.logo img {
    height: 3rem;
    margin-right: 2rem;
    margin-top: 0.2rem;
}

.about {
    margin-top: 1.15rem;
    margin-left: 41rem;
    margin-right: 3rem;
}

.about a{
    text-decoration: none;
    color: black;
    font-family: "Apple SD Gothic Neo";
    font-size: 1em;
    color: white;
    margin: 0 0.5rem;
}