container_commands:
  01_makemigrations:
    command: "django-admin makemigrations"
    leader_only: true
  02_migrate:
    command: "django-admin migrate"
    leader_only: true
  03_compilemessages:
    command: "django-admin compilemessages"
  04_createsu:
    command: "django-admin createsu"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings
