container_commands:
  01_migrate:
    command: "django-admin migrate"
    leader_only: "true"
  02_createsu:
    command: "django-admin createsu"
  03_collectstatic:
    command: "django-admin collectstatic --noinput"
  # 04_load_ssangyoung:
  #   command: "django-admin load_shops --path car_data/ssangyoung.csv"
  #   leader_only: "true"
  # 05_load_chevrolet:
  #   command: "django-admin load_shops --path car_data/cars_chevrolet.csv"
  #   leader_only: "true"
  # 06_load_hyundai:
  #   command: "django-admin load_shops --path car_data/cars_hyundai.csv"
  #   leader_only: "true"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings
