{% extends 'base.html' %}
{% load socialaccount %}

{% block page_name %}
    Login
{% endblock page_name %}

{% block login_block %}
{% endblock login_block %}
{% block search-bar %}
{% endblock search-bar %}

{% block content %}
    <h1>Login</h1>
    {% comment %} <a href = "/accounts/signup">회원가입</a><br> {% endcomment %}
    {% comment %} <a href = "/accounts/login">로그인</a><br> {% endcomment %}

    {% if user.is_authenticated %}
        <a href = "/accounts/logout">로그아웃</a>
        {{user.username}} 님이 로그인중 <br>
        <a href="{% url 'users:mypage' %}">마이페이지</a>
    {% else %}
        <a href="{% provider_login_url 'google' %}">Google 로그인</a><br>
        <a href="{% provider_login_url 'naver' %}">네이버 로그인</a><br>
        로그인 하셔야 합니다.
    {% endif %}
{% endblock content %}
