{% extends "base.html"%}

{% load static %}
{% load socialaccount %}

{% block page_name %}
    로그인{{ block.super }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/partials/nav.css' %}">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    {{ block.super }}

    <style>
        .btn-social-login {
          transition: all .2s;
          outline: 0;
          border: 1px solid transparent;
          padding: .5rem !important;
          border-radius: 50%;
          color: #fff;
        }
        .btn-social-login:focus {
          box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
        }
        .text-dark { color: #343a40!important; }
    </style>

{% endblock %}

{% block nav %}
    {% include "partials/nav.html" %}
{% endblock %}

{% block content %}
<div class="login__container">
    <h1>로그인</h1>
    {% if user.is_authenticated %}
        <h4>{{user.username}} 님 안녕하세요!</h4>
    {% else %}
        <h4>로그인해서 대리점을 찜해보세요!</h4>
    {% endif %}
    <div class="login__btn__container">
        {% if user.is_authenticated %}
            <button><a href="/accounts/logout">로그아웃</a></button>
            <button><a href="{% url 'users:mypage' %}">마이페이지</a></button>
        {% else %}
            <button class='btn-social-login' style='background:#D93025'><a href="{% provider_login_url 'google' %}"><i class="xi-2x xi-google"></i></a></button>
            <button class='btn-social-login' style='background:#1FC700'><a href="{% provider_login_url 'naver' %}"><i class="xi-2x xi-naver"></i></a></button>
            <button class='btn-social-login' style='background:#FFEB00'><a href="{% provider_login_url 'kakao' method='oauth2' %}"><i class="xi-2x xi-kakaotalk text-dark"></i></a></button>
        {% endif %}
    </div>
</div>
{% endblock %}