{% load socialaccount %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
<body>
<!--nav bar identical to search.html-->
<nav>
    <div class="nav__bar__container">
        <div class="logo">
            <a href="{% url 'shops:shop_search' %}"><img src="{% static 'images/logo_white.png' %}" alt="logo"></a>
        </div>
        <div class="about">
            <a href=""><span>회사 소개</span></a>
            <a href=""><span>자주 묻는 질문</span></a>
        </div>
    </div>
  </nav>
<div class="login__container">
    <h1>로그인<h1>
    {% if user.is_authenticated %}
        <h4>{{user.username}} 님 안녕하세요!</h4>
    {% else %}
        <h4>로그인해서 대리점을 찜해보세요!</h4>
    {% endif %}
    <div class="login__btn__container">
        {% if user.is_authenticated %}

            <button><a href = "/accounts/logout">로그아웃</a></button>
            <button><a href="{% url 'users:mypage' %}">마이페이지</a></button>
        {% else %}

            <button><a href="{% provider_login_url 'google' %}">구글 로그인하기</a></button>
            <button><a href="{% provider_login_url 'naver' %}">네이버 로그인하기</a><br></button>
        {% endif %}
    </div>
</div>
</body>
</html>

