{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block page_name %}
    로그아웃{{ block.super }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/partials/nav.css' %}">
    <link rel="stylesheet" href="{% static 'styles/logout.css' %}">
{% endblock %}

{% block nav %}
    {% include 'partials/nav.html' %}
{% endblock %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
    <div class="logout__container">
        <h1>{% trans "로그아웃" %}</h1>
        <h4>{% trans '보고타의 서비스를 이용해 주셔서 감사합니다.' %}</h4>
        <div class="logout__btn__container">
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button type="submit">{% trans '로그아웃' %}</button>
            </form>
        </div>
    </div>


{% endblock %}
