
{% extends 'base.html' %}

{% block page_name %}
    Detail
{% endblock page_name %}

{% block search-bar %}
{% endblock search-bar %}

{% block javascript %}
<script>
    const clickLike = (pk, status) => {
        console.log(pk);
        console.log(status);
        $.ajax({
            type: "post",
            url: "{% url 'shops:shop_like_ajax' %}",
            data: {"pk": pk, "status": status, "csrfmiddlewaretoken": "{{ csrf_token }}"},
            success: () => {
                console.log("success");
                console.log($(".like-button"));

            };
        });
    };
</script>
{% endblock javascript %}

{% block content %}
<div>현재 사용자: {{ user.username }}</div>
    <form action="" method="GET">
        <!-- 버튼으로 검색어 입력 받음 -->
        <input type="text" name="q" placeholder="search">
        <button>검색</button>
    </form>
    {% for shop in shops %}
        <div>
            <a href="{% url 'shops:shop_detail' shop.id %}">{{ shop.name }}</a>

            <input type="submit" onClick="clickLike({{shop.pk}}, 'like')" value="liked" class="like-button">
            <!-- 좋아요 기능, user가 heart를 눌렀을 때, 대리점의 like_users list에 있으면 list에서 삭제되고 없으면 추가된다 -->

              {% comment %} {% if user in shop.like_users.all %} {% endcomment %}

                {% comment %} <a href="{% url 'shops:shop_like' shop.id %}"><i class="fas fa-heart"></i></a> {% endcomment %}
              {% comment %} {% else %} {% endcomment %}
                {% comment %} <a href="{% url 'shops:shop_like' shop.id %}"><i class="far fa-heart"></i></a> {% endcomment %}
              {% comment %} {% endif %} {% endcomment %}
        </div>
    {% endfor %}

        <h5>
            
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}">이전</a>
            {% endif %}
            
            Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}">다음</a>
            {% endif %}
        </h5>
{% endblock %}