{% extends 'base.html' %}

{% block content %}
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=1tf8ne5opi"></script>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=1tf8ne5opi&submodules=geocoder"></script>
<div>현재 사용자: {{ user.username }}</div>
    {% for shop in shops %}
        <div>
            <a href="{% url 'shops:give_rating' shop.id %}">{{ shop.name }}</a>
            <!-- 좋아요 기능, user가 heart를 눌렀을 때, 대리점의 like_users list에 있으면 list에서 삭제되고 없으면 추가된다 -->
            <a href="{% url 'shops:like' shop.id %}">
              {% if user in shop.like_users.all %}
                <a href="{% url 'shops:like' shop.id %}"><i class="fas fa-heart"></i></a>
              {% else %}
                <a href="{% url 'shops:like' shop.id %}"><i class="far fa-heart"></i></a>
              {% endif %}
            </a>
            <!-- 지도 보기를 누르면 지도 open, 접기하면 close -->
            <input type="button" value="지도 보기" onclick="
                var target=document.querySelector('#map');
                if(this.value==='지도 보기'){
                    target.style.display = 'block';
                    this.value = '지도 접기';
                }
                else{
                    target.style.display = 'none';
                    this.value = '지도 보기';
                }
            ">
        </div>
    {% endfor %}

    <!-- 네이버 지도 api -->
    <div id="map" style="width:50%;height:400px;"></div>

    <script>
        var map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng(37.3595704, 127.105399),
            zoom: 15
        });

    function initGeocoder() {
        if (!map.isStyleMapReady) {
            return;
        }

        var latlng = map.getCenter();
        var utmk = naver.maps.TransCoord.fromLatLngToUTMK(latlng); // 위/경도 -> UTMK
        var tm128 = naver.maps.TransCoord.fromUTMKToTM128(utmk);   // UTMK -> TM128
        var naverCoord = naver.maps.TransCoord.fromTM128ToNaver(tm128); // TM128 -> NAVER

        infoWindow = new naver.maps.InfoWindow({
            content: ''
        });

        map.addListener('click', function(e) {
            var latlng = e.coord,
                utmk = naver.maps.TransCoord.fromLatLngToUTMK(latlng),
                tm128 = naver.maps.TransCoord.fromUTMKToTM128(utmk),
                naverCoord = naver.maps.TransCoord.fromTM128ToNaver(tm128);

            utmk.x = parseFloat(utmk.x.toFixed(1));
            utmk.y = parseFloat(utmk.y.toFixed(1));

            infoWindow.setContent([
                '<div style="padding:10px;width:380px;font-size:14px;line-height:20px;">',
                '<strong>LatLng</strong> : '+ '좌 클릭 지점 위/경도 좌표' +'<br />',
                '<strong>UTMK</strong> : '+ '위/경도 좌표를 UTMK 좌표로 변환한 값' +'<br />',
                '<strong>TM128</strong> : '+ '변환된 UTMK 좌표를 TM128 좌표로 변환한 값' +'<br />',
                '<strong>NAVER</strong> : '+ '변환된 TM128 좌표를 NAVER 좌표로 변환한 값' +'<br />',
                '</div>'
            ].join(''));

            infoWindow.open(map, latlng);
            console.log('LatLng: ' + latlng.toString());
            console.log('UTMK: ' + utmk.toString());
            console.log('TM128: ' + tm128.toString());
            console.log('NAVER: ' + naverCoord.toString());
        });
    }
        //마커 표시하기
        /*
        var marker = new naver.maps.Marker({
         */
            position: new naver.maps.LatLng(37.3595704, 127.105399),
            map: map
        });
        */

    </script>
{% endblock %}