<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_name %}{% endblock page_name %}| Show Me The Car</title>

</head>
<body>
   <header>
      {% include "partials/nav.html" %} 
      {% block search-bar %}
        <form method="get" action="{% url 'shops:shop_search' %}">
            <input name="car_model" placeholder="차 모델을 검색하세요" />
            <button>검색</button>
        </form>
      {% endblock search-bar %}
   </header>


   {% block content %}{% endblock content %}

   {% include "partials/footer.html" %}

{# i tag 불러오는 링크 #}
   <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</body>
</html>