{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_name %}{% endblock page_name %}| Show Me The Car</title>

    <link rel="stylesheet" href="{% static 'styles/search.css' %}">
</head>
<body>
   <header>
      {% block search-bar %}
          <nav>
              <div class="nav__bar__container">
                  <div class="logo">
                    <a href="http://127.0.0.1:5500/main.html"><img src="logo_white.png" alt="logo"></a>

                  </div>
                  <div class="about">
                      <a href=""><span>회사 소개</span></a>
                      <a href=""><span>자주 묻는 질문</span></a>
                  </div>
              </div>
          </nav>
      {% endblock search-bar %}
   </header>
   {% block content %}{% endblock content %}

   {% include "partials/footer.html" %}

{# i tag 불러오는 링크 #}
   <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
   <link rel="stylesheet" href="{% static 'widgets/rateit/scripts/rateit.css' %}">
   <script
   src="https://code.jquery.com/jquery-3.4.1.min.js"
   integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
   crossorigin="anonymous"></script>
   <script src="{% static 'widgets/rateit/scripts/jquery.rateit.min.js' %}" ></script>

{# Load javascript #}

   <script src="{% static 'js/main.js' %}"></script>
   {% comment %} <script src="{% static 'widgets' %}"></script> {% endcomment %}
   {% block javascript %}
   {% endblock javascript %}
</body>
</html>