{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="558195495867-ei59bqib870e9qfg1lmc1pvhg5tfs779.apps.googleusercontent.com">
    <title>{% block page_name %} | 보고타{% endblock page_name %}</title>

    {% block css %}
        <link rel="stylesheet" href="{% static 'widgets/rateit/scripts/rateit.css' %}">
    {% endblock %}
    <style>
        body {
            overflow-x: hidden;
        }
    </style>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">
    <link rel="shortcut icon" href="{% static 'favicon_io/favicon.ico'  %}" />
</head>

{# Google adsense #}
<script data-ad-client="ca-pub-2941739495057374" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<body>
    {% block nav %}
        <nav>
            <div class="nav__bar__container">
                <div class="logo">
                    <a href="{% url 'core:home' %}"><img src="{% static 'images/logo_white.png' %}" alt="logo" /></a>
                </div>
                <form method="GET" action="{% url 'shops:shop_search_main' %}" class="search__container">
                    <div class="search__region">
                        <select name="city" id="">
                            <optgroup>
                                <option value="" disabled selected>지역</option>
                                <option value="서울특별시">서울특별시</option>
                                <option value="부산광역시">부산광역시</option>
                                <option value="대구광역시">대구광역시</option>
                                <option value="인천광역시">인천광역시</option>
                                <option value="광주광역시">광주광역시</option>
                                <option value="대전광역시">대전광역시</option>
                                <option value="울산광역시">울산광역시</option>
                                <option value="세종특별자치시">세종특별자치시</option>
                                <option value="경기도">경기도</option>
                                <option value="강원도">강원도</option>
                                <option value="충청북도">충청북도</option>
                                <option value="충청남도">충청남도</option>
                                <option value="전라북도">전라북도</option>
                                <option value="전라남도">전라남도</option>
                                <option value="경상북도">경상북도</option>
                                <option value="경상남도">경상남도</option>
                                <option value="제주특별자치시도">제주특별자치시도</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="search__car">
                        <input name="car_model"  placeholder="자동차 모델명" />
                    </div>
                </form>
                <div class="searchpage">
                    <a href="{% url 'shops:shop_search_main' %}"><span>검색 페이지</span></a>
                </div>
                <div class="mypage">
                    <a href="{% url 'users:mypage' %}"><span>마이 페이지</span></a>
                </div>
            </div>
        </nav>
    {% endblock %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
    {% endblock %}

    {# i tag 불러오는 링크 #}
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="{% static 'widgets/rateit/scripts/jquery.rateit.min.js' %}" ></script>

    {# Load javascript #}

    {# main javascript #}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    {% comment %} <script src="{% static 'widgets' %}"></script> {% endcomment %}
    {% block javascript %}
    {% endblock javascript %}
</body>
</html>