.search__title {
  display: flex;
  justify-content: center;
  font-family: "Apple SD Gothic Neo";
  margin-top: 2rem;
}

.search__title h1 {
  padding: 0 4rem 0.7rem 4rem;
  border-bottom: 1px solid gray;
}

.search__query h3 {
  margin-left: 9rem;
}

.search__query span {
  color: rgb(26, 53, 91);
  font-size: 2.5rem;
  font-weight: bold;
}

.main_content {
  display: flex;
  justify-content: space-evenly;
  margin-left: 6rem;
  margin-right: 6rem;
}

.left_container {
  background-color: rgba(229, 229, 229, 0.3);
  height: 536px;
  width: 60%;
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 0.2rem;
  padding: 2rem 0 2rem 2rem;
}

.left_container > div:nth-child(1) {
  border-top: 1px solid lightgray;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 90%;
}

.left_container > div {
  border-bottom: 1px solid lightgray;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  width: 90%;
}

.left_container button {
  background-color: rgba(229, 229, 229, 0);
  color: red;
  border: none;
  font-size: 1.1rem;
  margin: 0 0.5rem 0 1rem;
}

.left_container button:focus {
  border: none;
}

.left__container__shop__name a {
  color: rgb(26, 53, 91);
  text-decoration: none;
  font-size: 1.1rem;
}

.left__container__shop__name {
  display: inline-block;
}

/* (600*300) 광고 넣을 공간 */
.right_container {
  background-color: transparent;
  height: 600px;
  width: 300px;
}

    /* Turn on custom 8px wide scrollbar */
    ::-webkit-scrollbar {
        width: 8px; /* 1px wider than Lion. */
        /* This is more usable for users trying to click it. */
        background-color: rgba(0,0,0,0);
        -webkit-border-radius: 100px;
      }
      /* hover effect for both scrollbar area, and scrollbar 'thumb' */
      ::-webkit-scrollbar:hover {
        background-color: rgba(0, 0, 0, 0.09);
      }

      /* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
      ::-webkit-scrollbar-thumb:vertical {
        /* This is the EXACT color of Mac OS scrollbars.
           Yes, I pulled out digital color meter */
        background: rgba(0,0,0,0.5);
        -webkit-border-radius: 100px;
      }
      ::-webkit-scrollbar-thumb:vertical:active {
        background: rgba(0,0,0,0.61); /* Some darker color when you click it */
        -webkit-border-radius: 100px;
      }

      /*background: linear-gradient(45deg, white, silver);
      min-height: 100%;
    }*/

