{% block content %}
    <h1>Profile</h1>
    {{ user.username }}
    {% for like_shop in like_shops %}
        {{ like_shop.name }}{{ like_shop.pk }}

        <form action="{% url 'users:rate_shop' %}" method="post">
{#        {% csrf_token %}#}
{#            <label for="shop_id"></label>#}
{#            <input type="hidden" name="shop_id" value="{{ like_shop.id }}"/>#}
{#            <button type="submit">제출</button>#}
            {{ form.as_p }}

        </form>
    {% endfor %}


{% endblock %}